* {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body {
    background-color: #111;
    background-image: url("images/dark-rough-free-seamless.jpg");
    background-repeat: repeat;
    color: #eee;
    text-align: center;
    height: 100%;
}
h1,h2 {
    text-shadow: 0 0 0.3em #1da9cc;
    align-self: center;
	margin-top: 1em;
}
h1 {
    font-size: 6.5vh;
}
h2 {
    font-size: 4vh;
}

div#title {
    display: flex;
    justify-content: center;
}
#title img {
    width: 10vh;
    height: 10vh;
    margin-right: 1vh;
}

a.unstyled, a.unstyled:hover, a.unstyled:visited, a.unstyled:focus, a.unstyled:active  {
  text-decoration: none;
  color: inherit;
  outline: 0;
}

#wordsol img {
    margin: 5vh 0 5vh 0;
    width: 60vh;
}

.grid-container {
    display: inline-grid;
    margin-top: 2vh;
    grid-gap: 2vh;
    grid-template-columns: 25vh 25vh 25vh;
    
}
.grid-item {
}

#showcase img {
    width: 25vh;
}

#socmed {
    top: -1vh;
}
#socmed img {
    width: 4vh;
    margin: 0 1vh 0 1vh;
    filter: drop-shadow(0px 0px 5px #888);
}



footer {
	margin-top: 10vh;
	margin-bottom: 2vh;
}
